@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.mainDiv {
  padding-left: 200px;
}

.title {
  color: white;
  padding-top: 4vh;
  margin: 0;
  text-align: center;
  background-color: #2c2c2c;
  border-radius: 20px 20px 0 0;
  font-size: 48px;
}