@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.mainDiv {
  padding-left: 200px;
  text-align: center;
}

.title {
  color: white;
  margin: 0;
  text-align: center;
  background-color: #fffeee;
  border-radius: 20px 20px 0 0;
  font-size: 48px;
}

.logo {
  width: 20%;
}
