.gridsystem {
    margin-top: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    color: white;
    font-size: 5vh;
}
.box  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 20px;
    height: 20vh;
    width: 10vw;
    margin: auto;
    color: white;
}
.linkedin-logo {
    margin-top: 1vh;
    height: 5vh;
}