.navbar {
    align-items: center;
    background: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.199);
    display: flex;
    font-family: Inter, sans-serif;
    height: 6vmin;
    justify-content: space-between;
    left: 0;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    float: right;
  }
  
  .nav_actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 3.5em;
    justify-content: space-between;
    margin-right: 5vw;
  }
  a {
    text-decoration: none;
  }
  .nav_link {
    color: black;
    font-size: 17px;
    font-weight: 550;
    height: 1em;
    padding: 5px;
  }
  .nav-logo {
    height: 4vmax;
    margin-left: 2vw;
  }
  button {
    padding: 0;
    border: none;
    background: none;
    color: black;
    font-size: 17px;
    font-weight: 550;
    height: 1em;
  }