.docs__body {
    color: #0f1730;
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 0;
    padding-top: 36px;
    width: 100vw;
  }
  .docs__content {
    padding-top: 5vh;
    min-height: 100vh;
    margin-left: 23vw;
    margin-top: 6vh;
  
  }