.sidebar {
    background: linear-gradient(107deg, #7b8187, #21a5ac 70%);
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    height: 100vh;
    justify-content: flex-start;
    min-height: 100%;
    padding: 16px;
    position: fixed;
    width: 20vw;
    left: 0;
    padding-top: 5vh;
  }
  
.sidebar a {
    color: white;
    padding: auto;
  }
  