.yaml {
  height: 85.5vh;
  background-image: linear-gradient(
    rgba(255, 254, 238, 0.5),
    rgba(116, 156, 133, 0.5),
    rgba(116, 156, 133, 0.5),
    rgba(116, 156, 133, 0.5)
  );
  border-radius: 0 0 20px 20px;
  padding-top: 1vh;
}

.fileborder {
  margin-left: auto;
  margin-right: auto;
  padding-top: 33vh;
  padding-bottom: 33vh;
  border: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 20px;
  background-color: #d8d8d8;
  width: 90%;
  text-align: center;
}

.fileInput {
  font-size: 1.25vw;
}

.button {
  display: block;
  margin: 10px;
  font-size: 1.25vw;
  border-radius: 7px;
  border: solid;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.fileInput::file-selector-button {
  margin: 10px;
  font-size: 1.25vw;
  border-radius: 7px;
  border: solid;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  cursor: pointer;
}

.fileInput::file-selector-button:hover {
  background-color: #fffeee;
}

.button:hover {
  background-color: #fffeee;
}

@media screen and (max-width: 950px) {
  .fileInput {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
  }

  .fileInput::file-selector-button {
    font-size: 12px;
  }
}
