.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgb(255, 238, 238, 0.5), #749c85);
  border-radius: 12px;
  height: 85.5vh;
  align-items: center;
}

.loginInput {
  height: 30vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInput p {
  margin: 10px;
}

.login input {
  width: 300px;
  height: 30px;
  border-radius: 6px;
  border: none;
}

.username .password {
  padding: 0;
  height: 13px;
  font-size: 16px;
}

.password {
  padding: 0;
  padding-top: 7px;
  height: 13px;
  font-size: 16px;
}


.loginButton {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 180px;
  height: 30px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: #82ad95;
  box-shadow: 1px 1px 1px 1px #688b78;
}

.loginButton:hover {
  background-color: #46c57f;
  box-shadow: 1px 1px 1px 1px #4d8466;
  transition-duration: 300ms;
}

.loginButton:active {
  top: 5px;
  left: 5px;
  box-shadow: none;
}

.login a {
  color: rgb(66, 66, 66);
}

.errorMessage {
  color: red;
}

.githubLogin {
  background-color: black;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  height: 30px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #0d110f;
}

.githubLogin:hover {
  background-color: #1d3127;
  box-shadow: 1px 1px 1px 1px #333533;
  transition-duration: 300ms;
}

.githubLogin:active {
  top: 5px;
  left: 5px;
  box-shadow: none;
}
