.bigDiv {
  background-image: linear-gradient(#fffeee, rgb(116, 156, 133), rgb(116, 156, 133), rgb(116, 156, 133));
}

.metrics {
  border: none;
  width: 50%;
  height: 35vh;
}

.running {
  display: inline-block;
  margin-left: 40%;
  vertical-align: top;
  padding-top: 25px;
}

.memory {
  display: inline-block;
  border: none;
}

.runningBlock {
  width: 150px;
  height: 100px;
  vertical-align: middle;
  border: none;
}
