.sidebar {
  position: fixed;
  height: 83vh;
  top: 20;
  left: 20;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 15vh;
  width: 190px;
  border-radius: 20px;
  background-image: linear-gradient(rgba(116, 156, 133, 1), rgb(255, 238, 238, 0.5));
}

.sidebarLinks {
  font-size: 28px;
  text-decoration: none;
  padding-bottom: 2vh;
  padding-top: 2vh;
  border-radius: 20px;
  margin: 15px;
  color: inherit;
}

.sidebarLinks:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.sidebarLinks:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.darkmode {
  background-color: rgba(127, 255, 212, 0);
  border: none;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-radius: 20px;
  margin: 15px;
  color: inherit;
}

.darkmode:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.loggedIn {
  background-color: rgba(127, 255, 212, 0);
  border: none;
  font-size: 20px;
  text-decoration: none;
  padding-top: 15vh;
  border-radius: 20px;
  margin: 15px;
  color: inherit;
}

.loggedIn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
